  
/*        

  .pin-top {
    position: relative;
  }

  .pin-bottom {
    position: relative;
  }

  .pinned {
    position: fixed !important;
  }*/

  nav li{
      width: 20%
  }
  /*nav{
      height: 7vh;
  }*/
  .section{
      background: white;
      
  }

  ul>.tab:hover{
      background: darkgray
  }

  nav a{
    font-size: 1.3em;
  }
  .modal{
    width: 60%;
  }
  .modal li{
    width: 13%;
  }

  h3,h4{
   text-shadow: 2px 3px 2px grey;
    
  }

  #portfolio td{
    font-size: 1.1em
  }