<div class="row">
</div>
<div id="index" class=" row transparent scrollspy">
  <div class="col s0 m1 l2"></div>
  <div class=" col s12 m11 l10">
    <h3 class="grey-text text-lighten-1 ">IMPROVE </h3>
    <h3 class="grey-text text-lighten-1 ">THE WORLD</h3>
    <h3 class="grey-text text-lighten-1 ">FROM </h3>
    <h3 class="grey-text text-lighten-1 ">MYSELF</h3>
  </div>
  <div class="row" style="height: 80%"></div>
  <div class="row">
    <div class="col s0 m2 l7"></div>
    <div class="col s12 m10 l5">
      <h4 class="grey-text text-lighten-1 ">
        <pre> YoungTae Kim</pre>
      </h4>
    </div>
  </div>

</div>

<div class=" navbar-fixed">
  <nav class="col s12 m12 l12">
    <div class="nav-wrapper teal accent-3">
      <div class="container center-align">
        <ul id="nav-mobile" class="center ">
          <li><a  style="text-shadow: 1px 1px 1px gray;" class="blue-grey-text text-darken-3" href="#about">About</a></li>
          <li><a  style="text-shadow: 1px 1px 1px gray;" class="blue-grey-text text-darken-3" href="#skills">Skills</a></li>
          <li><a  style="text-shadow: 1px 1px 1px gray;" class="blue-grey-text text-darken-3" href="#portfolio">PortFolio</a></li>
          <li><a  style="text-shadow: 1px 1px 1px gray;" class="blue-grey-text text-darken-3" href="#vision">Vision</a></li>
          <li><a  style="text-shadow: 1px 1px 1px gray;" class="blue-grey-text text-darken-3" href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="about" class="block z-depth-4  black-text scrollspy ">

  <div class="row">

    <h3 class="center blue-grey-text text-lighten-1">About </h3>
    <div class=" col s12 m4 l4 ">

      <img class="z-depth-4 responsive-img" width="100%" src="assets/images/aurora.jpg" />
    </div>

    <div class="col s12 m8 l8 ">
      <div class="">
        <br> <b>소개</b>
        <br> 반갑습니다. 김영태입니다.
        <br> 저는 IT 기술을 통해 재밌고 멋진 일을 하고 싶어요! 세상 사람들에게 유익한 일을 하는 것은 멋지다고 생각합니다.
        <br> 열정이 있는 분이라면 언제든지 환영합니다. <br>
        <br>
        <hr>
        <br><b>관심사</b>
        <br> 스타트업 / 창업에 관심이 많습니다. 
        <br> 하우스 음악을 즐겨들어요~
        <br> 인문학이나 자연에 대한 책을 읽거나 다큐멘터리를 봅니다.
        <br> 농구를 좋아하고, 운동을 즐깁니다.
        <br> 코딩하다보면 시간 가는줄을 모릅니다. 
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col s12 m6 l6" style="height: 80vh">
      <div class="center-align">
        <b class="" style="font-size: 2em;text-shadow: 1px 1px 2px gray;">history</b>
        <br>
      </div>
      <table>
        <thead>
          <tr>
            <th>연도</th>
            <th>내용</th>

          </tr>
        </thead>

        <tbody>
          <tr>
            <td>2007.03 - 2010.02</td>
            <td>청주 운호고등학교 졸</td>

          </tr>
          <tr>
            <td>2010.03 - 2014.02</td>
            <td>고려대학교 환경생태공학 학사</td>

          </tr>
          <tr>
            <td>2014.03 - 2016.06</td>
            <td>[정보통신병과] 육군 중위 전역</td>
          </tr>

          <tr>
            <td>2016.08 - 2017.02</td>
            <td>[고용노동부] 자바기반 모바일 & 웹 개발자 양성</td>

          </tr>
        </tbody>
      </table>

    </div>
    <div class="col s12 m6 l6">
      <div class="center-align">
        <b class="" style="font-size: 2em;text-shadow: 1px 1px 2px gray;">activity</b>
        <br>
      </div>
      <ul class="collapsible " data-collapsible="accordion">
        <li style="width: 100%">
          <div class="collapsible-header active">고등학교 기숙사 생활/ 학생회 부회장</div>
          <div class="collapsible-body"><span>학업으로 힘들기도 했었지만 가장 많이 웃고, 행복하게 지냈던 때가 아닌가 싶습니다. 아, 물론 대학가서 연애를 해보기 전까지요. </span></div>
        </li>
        <li style="width: 100%">
          <div class="collapsible-header">과 신입생대표/학생회 부회장</div>
          <div class="collapsible-body"><span>어떤 조직의 대표로 활동하는 것이 굉장한 책임과 어려움이 따른다는 것을 알게 해주었습니다. 하지만 각종 학교 행사를 준비하고 진행하면서 얻었던 보람은 지금도 잊을 수가 없네요. </span></div>
        </li>
        <li style="width: 100%">
          <div class="collapsible-header">102 학군단 52기</div>
          <div class="collapsible-body"><span>학군단 출신이신 아버지의 권유로 시작하게 되었습니다. 여름, 겨울마다 진행했던 훈련은 지금생각하면 추억입니다.  </span></div>
        </li>
        <li style="width: 100%">
          <div class="collapsible-header">농구 동아리 / 파티 기획 동아리</div>
          <div class="collapsible-body"><span>중학생때부터 농구를 즐겨했습니다. 중고등학생일땐 도대회, 시대회도 나가서 3등의 입상 경력도 있구요. 대학교가서도 농구를 즐겨하곤 했습니다.<br> 한때 클럽을 좋아해서 아예 파티 기획동아리에 들어가
              음악을 들으며 춤췄던 적도 있습니다. 학교나 외부에서 클럽파티를 연적도 있습니다.  </span></div>
        </li>
      </ul>

    </div>


  </div>


</div>

<!--////////////////////////////////////-->

<div id="skills" class=" block black-text scrollspy white">
  <div class="row">
    <h3 class="center blue-grey-text text-lighten-1">Skills </h3>
  </div>
  <div class="row center-align">
    <div class="col s12 grey-text" style="font-size: 1.5em">
      <i>"굉장히 빠르고 재미있게 공부를 하고 있습니다!  보다 깊은 이해를 하기 위해 노력합니다."</i>
    </div>
  </div>
  <div class="row" style="font-size: 100%">
    <div class="col s0 m1"></div>
    <div class="col s4 m2">
      <div id="circleHTML"></div>Element를 선택해서 다양한 효과를 주거나 컨트롤 할 수 있습니다.</div>
    <div class="col s4 m2">
      <div id="circleJS"></div>가장 관심이 많은 언어입니다. 최근에는 ES6 스펙을 탐독하고 있습니다. </div>
    <div class="col s4 m2">
      <div id="circleTS"></div>친숙하며, 가장 많이 활용하고 있는 언어입니다. </div>
    <div class="col s4 m2">
      <div id="circleJAVA"></div>객체지향의 특성을 이해하고 있으며, 네트워크와 Thread에 대해서도 이해하고 있습니다. </div>
    <div class="col s4 m2">
      <div id="circleHTTP"></div>MYSQL, ORACLE을 사용해본적이 있고, 기본적인 CRUD을 사용할 수 있습니다.
    </div>
    <div class="col s0 m1"></div>
  </div>
  <br>
  <div class="row center-align">
    <div class="col s12 grey-text" style="font-size: 1.5em">
      <i>"지식에 대한 갈증을 해소하는 것만큼 짜릿한 일이 있을까요."</i>
    </div>
  </div>


  <div class="row center-align" style="font-size: 100%">
    <div class="col s0 m1"></div>
    <div class="col s4 m2">
      <img src="assets/images/http.svg" width="100%" />
      <br>Header 설정부터 시작해서 HTTP 메세지를 읽고 보낼 수 있습니다. RESTful 형식의 url을 설정할 수 있습니다.
    </div>
    <div class="col s4 m2">
      <img src="assets/images/angular.jpeg" width="100%" /> 유지보수하는데 명료하도록 개발 할 수 있습니다. Angular2는 정말 훌륭한 프레임워크입니다!!!
    </div>
    <div class="col s4 m2">
      <img src="assets/images/spring.png" width="55%" />
      <br> JSP / Spring 많이 다뤄보지는 않았지만 이를 통해 MVC 패턴을 이해하고 , 웹에 대한 전반적인 지식을 키울 수 있었습니다.
    </div>
    <div class="col s4 m2">
      <img src="assets/images/git_logo.png" width="55%" />
      <br> GIT을 통해 버전관리를 할 수 있습니다.  <br>
    </div>
    <div class="col s4 m2">
      <img src="assets/images/Express-2.jpg" width="100%" />
      <br> MEAN 스택을 갖추기 위해 공부중에 있습니다 <br>
    </div>
    <div class="col s0 m1"></div>
  </div>
  <br>
</div>



<div id="portfolio" class="block z-depth-4  black-text scrollspy ">


  <div class="row">
    <h3 class="center blue-grey-text text-lighten-1">PortFolio </h3>
    <br>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul id="portfolio-tabs" class="tabs tabs-fixed-width z-depth-4 blue-grey lighten-5  ">
          <li class=" tab col s3"><a  style="font-size: 1.1em" class="active black-text" href="#test-swipe-3">3ndEditor(웹서칭 도구)</a></li>
          <li class=" tab col s3"><a  style="font-size: 1.1em" class="black-text" href="#test-swipe-1">JAVA 학습 프로젝트</a></li>
          <li class=" tab col s3"><a  style="font-size: 1.1em" class="black-text" href="#test-swipe-2">JSP/Servlet 학습 프로젝트 </a></li>
        </ul>





      </div>
    </div>
    <div class="row">
      <div id="test-swipe-3" style="height: 150%" class="col s12">
        <br>

        <div class="center-align col s4 m3 l4">
          <img class="z-depth-4 materialboxed" src="assets/images/3ndeditor.png" />

        </div>

        <div class="col s12 m9 l8">
          <table class="">
            <tbody>
              <tr>
                <td>주제 선정 </td>
                <td>
                  웹 브라우저에서 동작하는 간편하고 편리한 에디터
                </td>
              </tr>
              <tr>
                <td>개발 목적</td>
                <td>
                  보다 쉽고 빠르게 정보를 수집하고 작성하고 공유하기 위해서 개발시작
                </td>
              </tr>
              <tr>
                <td>개발 내용</td>
                <td>Angular2 / Spring boot로 개발, chorme extension 배포 </td>
              </tr>
              <tr>
                <td>개발 기간</td>
                <td>2017.1 - 진행중
                </td>
              </tr>
              <tr>
                <td>GitHub</td>
                <td><a target="_blank"  href="https://github.com/3ndEditor/chrome_extension">github 방문</a></td>
              </tr>
              <tr>
                <td>Chrome AppStore</td>
                <td><a target="_blank"  href="https://chrome.google.com/webstore/detail/3ndeditorextension/npdpkokgkmpdipdlonnnhncejdgbchld/related?hl=ko">웹스토어 방문하기</a></td>
              </tr>

              <tr>
                <td>맡은 역할</td>
                <td>주제선정 및 기획, 에디터 디자인, 화면분할, 에디터 기능 구현, Google API</td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <a  class="grey darken-4 waves-effect waves-light btn" href="#modal3nd">자세히</a>

                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>



      <div id="test-swipe-1" style="height: 150%" class="col s12">
        <br>
        <div class="row">
          <div class="col s4 m3 l4">
            <img class="z-depth-4 materialboxed" src="assets/images/mulcamtok.png" />
          </div>
          <div class="col s12 m9 l8 ">
            <table>
              <tbody>
                <tr>
                  <td>주제 선정 </td>
                  <td>카카오톡을 참고로하여 JAVA,SQL 기본 학습
                  </td>
                </tr>
                <tr>
                  <td>개발 내용</td>
                  <td> JAVA SWING으로 UI 구현, 스레드, Socket을 이용해 1:1 / 1:N 채팅 기능 구현 </td>
                </tr>
                <tr>
                  <td>개발 기간</td>
                  <td>2016. 09 - 2016. 10
                  </td>
                </tr>
                <tr>
                  <td>GitHub</td>
                  <td><a target="_blank" href="https://github.com/cicada0014/MulCamTalk_New">github 방문</a></td>
                </tr>
                <tr>
                  <td>맡은 역할</td>
                  <td>주제선정 & 회원 가입 및 로그인 , 메세지 확인 여부에 따른 알림기능, 서버 브로드캐스트 </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <a  class="grey darken-4 waves-effect waves-light btn" href="#modal1">자세히</a>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div id="test-swipe-2" class="col s12" style="height: 150%">
        <br>
        <div class="center col s4 m3 l4 ">
          <img class="z-depth-4" src="assets/images/mulcam2.png" />
        </div>
        <div class="col s12 m9 l8">
          <table>
            <tbody>
              <tr>
                <td>주제 선정 </td>
                <td>배달의 민족 웹사이트를 참고한 JSP&Servlet 기본학습
                </td>
              </tr>
              <tr>
                <td>개발 목적</td>
                <td>Web Front 기술 습득 / AJAX 통신 경험 / Spring MVC 구조 이해
                </td>
              </tr>
              <tr>
                <td>개발 내용</td>
                <td>네이버 지도 API를 이용하여 위치기반 맛집 검색 서비스</td>
              </tr>
              <tr>
                <td>개발 기간</td>
                <td>2016. 10 - 2016. 11
                </td>
              </tr>
              <tr>
                <td>GitHub</td>
                <td><a target="_blank" href="https://github.com/mulcamdelivery/delivery_2ndproject">https://github.com/mulcamdelivery/delivery_2ndproject</a></td>
              </tr>
              <tr>
                <td>맡은 역할</td>
                <td>주제선정 및 기획 & 지도연동, category 및 식당 리스트 DB 담당 </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <a  class="grey darken-4 waves-effect waves-light btn" href="#modal2">자세히</a>

                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>




<div id="vision" class="block  black-text scrollspy ">
  <div class="row">
    <h3 class="center blue-grey-text text-lighten-1">Vision </h3>
    <br>
  </div>



</div>

<div id="contact" class="block blue-grey darken-4 black-text  scrollspy ">
  <div class="row">
    <h3 class="center white-text ">Contact </h3>
    <br>
    <div class="row center">
      <div class="col s2"></div>
      <div class="col s8">
        <div class="card white  z-depth-5">
          <div class="card-content black-text">
            <span class="card-title"><h5>편하게 연락하세요!</h5></span>
            <p>
              E-mail : cicada0014@gmail.com<br> 이야기를 해도 좋습니다. 성장과 가치가 있는 일을 함께 이뤄나가고 싶습니다.



            </p>
            <br><br><br><br><br><br>
            <a target="_blank" href="https://github.com/cicada0014" class="black-text"> <i class="fa fa-github large" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a target="_blank" href="https://www.facebook.com/cicada0014" class="black-text"> <i class="fa fa-facebook-square large" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
            <a target="_blank" href="https://studystorage.blogspot.kr/" style="font-size: 4em" class="black-text"> Blog  </a>
          </div>
          <div class="card-action">
            <a  href="#index">맨 위로</a>

          </div>
        </div>
      </div>
      <div class="col s2"></div>
    </div>
  </div>
  <div class="row">
    <br><br><br><br><br><br>
  </div>
</div>





<!--modal content-->
<div id="modal3nd" class="modal ">
  <div class="modal-content">
    <ul id="tabs-swipe-modal" class="tabs">
      <li class="tab col s3"><a  href="#modal1-content1">#1</a></li>
      <li class="tab col s3"><a  href="#modal1-content2">#2</a></li>
      <li class="tab col s3"><a  href="#modal1-content3">#3</a></li>
      <li class="tab col s3"><a  href="#modal1-content4">#4</a></li>
      <li class="tab col s3"><a  href="#modal1-content5">#5</a></li>
      <li class="tab col s3"><a  href="#modal1-content6">#6</a></li>
      <li class="tab col s3"><a  href="#modal1-content7">#7</a></li>
      <li class="tab col s3"><a  href="#modal1-content8">#8</a></li>
    </ul>
    <div id="modal1-content1" class="col s12">
      <br>
      <h5>어떻게 기획하였나요?</h5>
      <p>
        최순실 게이트 청문회에서 네티즌들이 활약하는 것을 보았습니다.
        <br> 거기서 아이디어를 얻어 처음에는 네티즌 특별수사대(가제)라는 웹 사이트를 만들어 보는 것으로 시작을 했습니다. <br> 하지만 정치적인 이슈이고, 현재 지식으로는 구현이 어렵다고 판단되어 <br>        네티즌들이 웹에서 정보를 더 쉽고 빠르게 수집, 가공할 수 있도록 하면 어떨까라는 생각으로 다시 기획을 했습니다.
        <br><br> 설계 및 협업 툴 : draw.io / slack / trello / teamgantt / beecanvas<br>
      </p>
      링크를 클릭하시면 설계 작업 내용을 보실수 있어요! <br> 링크로 들어가시면 하단에서 페이지를 넘길 수 있습니다. <br>
      <br>
      <a  target="_blank" href="https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1&title=3ndEditor_UI.html#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D0B7-YfjO_Kl6OQXJjdl8zTURVbUU%26export%3Ddownload">
      초기 UI 및 기능 설계도 </a> <br><br>
      <a  target="_blank" href="https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1&title=3ndEditor_SW_Structure.html#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D0B7-YfjO_Kl6OYzNMQWc0cVpSVFk%26export%3Ddownload">
      Data flow & Structure </a> <br><br>
      <a  target="_blank" href="https://beecanvas.com/s/9e8ef7">
      경쟁 상품 분석  </a> <br><br>



    </div>
    <div id="modal1-content2" class="col s12 ">
      <div class="row">
        <img class="materialboxed col s12 m9" src="assets/images/chromeopen.gif">
        <p class="col s12 m3">
          크롬 확장도구로 설치해서 이용할 수 있습니다.
        </p>
      </div>
    </div>
    <div id="modal1-content3" class="col s12  ">
      <div class="row">
        <img class="materialboxed col s12 m9" src="assets/images/inputbrowser.gif">
        <p class="col s12 m3">
          다른 사이트를 볼 수 있는 화면을 넣을 수 있습니다.
        </p>
      </div>
    </div>
    <div id="modal1-content4" class="col s12 ">
      <div class="row">
        <img class="materialboxed col s12 m9" src="assets/images/editing.gif">
        <p class="col s12 m3">
          Medium editor 형식의 에디터를 이용해 편집을 할수 있습니다.
        </p>
      </div>
    </div>
    <div id="modal1-content5" class="col s12  ">
      <div class="row">
        <img class="materialboxed col s12 m9" src="assets/images/option.gif">
        <p class="col s12 m3">
          로그인 / 풀스크린 / 상단바 올림 등 다양한 편의기능을 추가했습니다.
        </p>
      </div>
    </div>
    <div id="modal1-content6" class="col s12 ">
      <div class="row">
        <img class="materialboxed col s12 m9" src="assets/images/driveuse.gif">
        <p class="col s12 m3">
          구글 드라이브와 연동이 되어 파일을 생성/ 저장 / 불러오기 를 할 수 있습니다.
        </p>
      </div>
    </div>
    <div id="modal1-content7" class="col s12 ">
      <div class="row">
        <img class="materialboxed col s12 m9" src="assets/images/setting.gif">
        <p class="col s12 m3">
          단축키를 변경할 수 있는 등 개인화 할 수 있는 설정 페이지가 있습니다.
        </p>
      </div>
    </div>
    <div id="modal1-content8" class="col s12 ">
      <div class="row">
        <!--<img class=" col s9"  src="assets/images/setting.gif">-->
        <p class="col s12">
          아직 구현해야할 기능도 많지만 꾸준히 작업해서 많은 사람들이 이용할 수 있게끔 하고 싶습니다 <br> 나아가 크롬말고도 다른 브라우저의 확장프로그램으로 작성해나가고 싶습니다.<br> 글을 작성하기 위해선
          개요를 짜고, 글 소재를 모아야하는데 그것을 더 쉽게 만들고 싶습니다.
        </p>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <a  href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<!---->





<!--modal content-->
<div id="modal2" class="modal">
  <div class="modal-content">
    <ul id="tabs-swipe-modal" class="tabs">
      <li class="tab col s3"><a  href="#modal2-content1">#1</a></li>
      <li class="tab col s3"><a  class="active" href="#modal2-content2"> #2</a></li>
      <li class="tab col s3"><a  href="#modal2-content3">#3</a></li>
    </ul>
    <div id="modal2-content1" class="col s12 blue">#1</div>
    <div id="modal2-content2" class="col s12 red">#2</div>
    <div id="modal2-content3" class="col s12 green">#3</div>


  </div>
  <div class="modal-footer">
    <a  href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
<!---->
<!--modal content-->
<div id="modal3" class="modal">
  <div class="modal-content">
    <ul id="tabs-swipe-modal" class="tabs">
      <li class="tab col s3"><a  href="#modal3-content1">#1</a></li>
      <li class="tab col s3"><a  class="active" href="#modal3-content2"> #2</a></li>
      <li class="tab col s3"><a  href="#modal3-content3">#3</a></li>
    </ul>
    <div id="modal3-content1" class="col s12 blue">#1</div>
    <div id="modal3-content2" class="col s12 red">#2</div>
    <div id="modal3-content3" class="col s12 green">#3</div>


  </div>
  <div class="modal-footer">
    <a  href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
<!---->