<div class="row"></div>
<div id="index" class=" row transparent">
  <div class="col s2"></div>
  <div class=" col s10">
    <h3 class="grey-text text-lighten-1 ">IMPROVE </h3>
    <h3 class="grey-text text-lighten-1 ">THE WORLD</h3>
    <h3 class="grey-text text-lighten-1 ">FROM </h3>
    <h3 class="grey-text text-lighten-1 ">MYSELF</h3>
  </div>
  <div class="row" style="height: 80%"></div>
  <div class="row">
    <div class="col s7"></div>
    <div class="col s5">
      <h4 class="grey-text text-lighten-1 ">
        <pre> YoungTae Kim</pre>
      </h4>
    </div>
  </div>

</div>

<div class=" navbar-fixed">
  <nav class="col s12">
    <div class="nav-wrapper orange accent-4">
      <div class="container center-align">
        <ul id="nav-mobile" class="center ">
          <li><a style="text-shadow: 1px 1px 1px gray;" class="blue-grey-text text-darken-3" href="#about">About</a></li>
          <li><a style="text-shadow: 1px 1px 1px gray;" class="blue-grey-text text-darken-3" href="#skills">Skills</a></li>
          <li><a style="text-shadow: 1px 1px 1px gray;" class="blue-grey-text text-darken-3" href="#portfolio">PortFolio</a></li>
          <li><a style="text-shadow: 1px 1px 1px gray;" class="blue-grey-text text-darken-3" href="#vision">Vision</a></li>
          <li><a style="text-shadow: 1px 1px 1px gray;" class="blue-grey-text text-darken-3" href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="about" class="block z-depth-4  black-text scrollspy blue-grey lighten-5">
  <div class="row">
    <h3  class="center blue-grey-text text-lighten-1">About </h3>
    <br>
    <div class="z-depth-4 col s12 m4">
      
      <img  class="" width="100%"  style="height: 79vh" src="assets/images/aurora.jpg" />
    </div>
    <div class=" z-depth-4 col s12 m4 " style="height: 80vh">
      <div class="center-align">
        <b class=""  style="text-shadow: 1px 1px 1px grey; font-size: 2em">안녕하세요!</b>
        <br>
      </div>
      <div class="">
  
        <br>
         IT 기술을 통해 재밌고 멋진 일을 하고 싶어요. <br>
        <br>
         세상 사람들에게 유익한 소프트웨어를 만들고자 합니다. <br>
        <br>
         사람들을 만나 생산적인 대화하는 것을 좋아해요!<br>
        <br>
         하우스 음악이나 팝송을 즐겨들어요. <br>
        <br>
         농구를 좋아합니다 <br>

        <br><br><br>

        <a href="https://github.com/cicada0014" class="black-text"> <i class="fa fa-github large" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="" class="black-text"> <i class="fa fa-facebook-square large" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
        <a href="" class="black-text"> <i class="fa fa-google large" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>


      </div>
    </div>
    <div class=" z-depth-4  col s12 m4" style="height: 80vh">
      <div class="center-align">
        <b class="" style="font-size: 2em;text-shadow: 1px 1px 2px gray;">교육 & 경력</b>
        <br>
      </div>
      <table>
        <thead>
          <tr>
            <th>연도</th>
            <th>내용</th>

          </tr>
        </thead>

        <tbody>
          <tr>
            <td>2007.03 - 2010.02</td>
            <td>청주 운호고등학교 졸</td>

          </tr>
          <tr>
            <td>2010.03 - 2014.02</td>
            <td>고려대학교 환경생태공학 학사</td>

          </tr>
          <tr>
            <td>2014.03 - 2016.06</td>
            <td>ROTC 52기 / 육군 중위 전역 [정보통신병과]</td>
          </tr>

          <tr>
            <td>2016.08 - 2017.02</td>
            <td>[고용노동부] 자바기반 모바일 & 웹 개발자 양성</td>

          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

<!--////////////////////////////////////-->

<div id="skills" class=" block black-text scrollspy white">
  <div class="row">
    <h3 class="center blue-grey-text text-lighten-1">Skills </h3>
    <br>
  </div>
  <div class="row center-align">
    <div class="col s12 grey-text" style="font-size: 1.5em">
      <i>"굉장히 빠르고 재미있게 공부를 하고 있습니다!  보다 깊은 이해를 하기 위해 노력합니다."</i>
    </div>
  </div>
  <div class="row" style="font-size: 100%">
    <div class="col s2"></div>
    <div class="col s2">HTML/CSS</div>
    <div class="col s8"> 75% / Element들을 선택해서 다양한 효과를 주거나 컨트롤 할 수 있습니다.</div>
  </div>
  <div class="row" style="font-size: 100%">
    <div class="col s2"></div>
    <div class="col s2">JavaScript</div>
    <div class="col s8"> 70% / 가장 관심이 많은 언어입니다. 최근에는 ES6 스펙을 탐독하고 있습니다. </div>
  </div>
  <div class="row" style="font-size: 100%">
    <div class="col s2"></div>
    <div class="col s2">TypeScript</div>
    <div class="col s8"> 70% / 친숙하며, 가장 많이 활용하고 있는 언어입니다. </div>
  </div>
  <div class="row" style="font-size: 100%">
    <div class="col s2"></div>
    <div class="col s2">JAVA</div>
    <div class="col s8"> 65% / 객체지향의 특성을 이해하고 있으며, 네트워크와 Thread에 대해서도 이해하고 있습니다. </div>
  </div>
  <div class="row" style="font-size: 100%">
    <div class="col s2"></div>
    <div class="col s2">HTTP</div>
    <div class="col s8"> 75% / Header 설정부터 시작해서 HTTP 메세지를 읽고 보낼 수 있습니다. RESTful 형식으로 명시적으로 활용하기 위해 공부하고 있습니다.
    </div>
  </div>
  <div class="row" style="font-size: 100%">
    <div class="col s2"></div>
    <div class="col s2">SQL</div>
    <div class="col s8"> 50% / MYSQL, ORACLE을 사용해본적이 있고, 기본적인 CURD을 사용할 수 있습니다.
    </div>
  </div>
  <br>
  <div class="row center-align">
    <div class="col s12 grey-text" style="font-size: 1.5em">
      <i>"생산성 향상을 위해 새로운 도구와 프레임워크를 배우는 것을 꺼리지 않습니다!"</i>
    </div>
  </div>
  <div class="row" style="font-size: 100%">
    <div class="col s2"></div>
    <div class="col s2">Angular2</div>
    <div class="col s8"> 85% / Module, Derective, Component 등을 이해하고, 유지보수하는데 명료하도록 개발 할 수 있습니다.<br> Angular2는 정말 훌륭한 프레임워크입니다!!!
    </div>
  </div>
  <div class="row" style="font-size: 100%">
    <div class="col s2"></div>
    <div class="col s2">JSP / Spring</div>
    <div class="col s8"> 40% / 많이 다뤄보지는 않았지만 이를 통해 MVC 패턴을 이해하고 , 웹에 대한 전반적인 지식을 키울 수 있었습니다.
    </div>
  </div>
  <div class="row" style="font-size: 100%">
    <div class="col s2"></div>
    <div class="col s2">그 외</div>
    <div class="col s8"> GIT을 통해 버전관리를 할 수 있습니다.<br> CLI을 통해 빌드과정을 경험해본적이 있습니다. <br> Node.js 와 Express.js을 따로 공부하고 있습니다. MEAN 스택을 꿈꾸고 있습니다.
    </div>
  </div>

</div>

<div id="portfolio" class="block z-depth-4  black-text scrollspy blue-grey lighten-5">
  <div class="row">
    <h3 class="center blue-grey-text text-lighten-1">PortFolio </h3>
    <br>
  </div>
  <div class="row">
    <div class="col s12">
      <ul id="tabs-swipe-demo" class="tabs tabs-fixed-width z-depth-4 blue-grey lighten-5  ">
        <li class=" tab col s3"><a style="font-size: 1.1em" class="active black-text" href="#test-swipe-3">3ndEditor(웹서칭 도구)</a></li>
        <li class=" tab col s3"><a style="font-size: 1.1em" class="black-text" href="#test-swipe-1">JAVA 학습 프로젝트</a></li>
        <li class=" tab col s3"><a style="font-size: 1.1em" class="black-text" href="#test-swipe-2">JSP/Servlet 학습 프로젝트 </a></li>
      </ul>

      <div id="test-swipe-3" style="height: 150%" class="col s12">
        <br>
        <div class="col s4">
            <img class="z-depth-4" height="400vh" src="assets/images/3content.png" />

        </div>
        <div class="col s8 z-depth-4">
          <table class="">
            <tbody>
              <tr>
                <td>주제 선정 </td>
                <td>
                  웹 브라우저에서 동작하는 간편하고 편리한 에디터
                </td>
              </tr>
              <tr>
                <td>개발 목적</td>
                <td>
                  보다 쉽고 빠르게 정보를 수집하고 작성하고 공유하기 위해서 개발시작 <br> (국정농단 청문회에서 네티즌들이 활약하는 것을 보면서 아이디어를 떠올림 )
                </td>
              </tr>
              <tr>
                <td>개발 내용</td>
                <td>Angular2 / Spring boot로 개발, Google Drive를 이용한 chorme extension으로 배포 </td>
              </tr>
              <tr>
                <td>개발 기간</td>
                <td>2017.1 - 진행중
                </td>
              </tr>
              <tr>
                <td>GitHub</td>
                <td><a href="https://github.com/3ndEditor/chrome_extension">https://github.com/3ndEditor/chrome_extension</a></td>
              </tr>
              <tr>
                <td>맡은 역할</td>
                <td>주제선정 및 기획, 에디터 디자인, 화면분할, 에디터 기능 구현, Google Drive, Login API 연동, 설정 기능 구현, 라우터 정의 </td>
              </tr>
              <tr>
                <td>자세히</td>
                <td>
                  <a class="grey darken-4 waves-effect waves-light btn" href="#modal2">Modal</a>

                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>



      <div id="test-swipe-1" style="height: 150%" class="col s12">
        <br>
        <div class="row">
          <div class="col s4">
            <!--<img/>-->
          </div>
          <div class="col s8 z-depth-4">
            <table class="">
              <tbody>
                <tr>
                  <td>주제 선정 </td>
                  <td>카카오톡을 참고로하여 JAVA,SQL 기본 학습
                  </td>
                </tr>
                <tr>
                  <td>개발 내용</td>
                  <td>1:1,1:N 채팅 기능 구현 </td>
                </tr>
                <tr>
                  <td>개발 기간</td>
                  <td>2016. 09 - 2016. 10
                  </td>
                </tr>
                <tr>
                  <td>GitHub</td>
                  <td><a href="https://github.com/cicada0014/MulCamTalk_New">https://github.com/cicada0014/MulCamTalk_New</a></td>
                </tr>
                <tr>
                  <td>맡은 역할</td>
                  <td>주제선정 & 회원 가입 및 로그인 , 메세지 확인 여부에 따른 알림기능, 서버 브로드캐스트 </td>
                </tr>
                <tr>
                  <td>자세히</td>
                  <td>
                    <a class="grey darken-4 waves-effect waves-light btn" href="#modal1">Modal</a>

                  </td>
                </tr>
                <tr>
                  <td>짧은 소감</td>
                  <td>
                    개발 공부를 즐겁게 해준 내 인생 첫번째 개발 프로젝트! <br> 프로그램을 만들기위해 밤낮없이 공부하고, 팀원들과 함께 공부 한것을 공유하였다. <br> 아쉬웠던 점은 설계를 제대로
                    하지 않아, 코드가 난잡해진 경향이 있음.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div id="test-swipe-2" class="col s12">
        <br>
        <div class="col s4">
          <!--<img/>-->
        </div>
        <div class="col s8 z-depth-4">
          <table >
            <tbody>
              <tr>
                <td>주제 선정 </td>
                <td>배달의 민족 웹사이트를 참고한 JSP&Servlet 기본학습
                </td>
              </tr>
              <tr>
                <td>개발 목적</td>
                <td>JavaScirpt,HTML,CSS 등 Front 기술 습득 / 외부 API를 이용한 AJAX 통신 경험 / Spring MVC 구조 이해
                </td>
              </tr>
              <tr>
                <td>개발 내용</td>
                <td>네이버 지도 API를 이용하여 위치기반 맛집 검색 서비스</td>
              </tr>
              <tr>
                <td>개발 기간</td>
                <td>2016. 10 - 2016. 11
                </td>
              </tr>
              <tr>
                <td>GitHub</td>
                <td><a href="https://github.com/mulcamdelivery/delivery_2ndproject">https://github.com/mulcamdelivery/delivery_2ndproject</a></td>
              </tr>
              <tr>
                <td>맡은 역할</td>
                <td>주제선정 및 기획 & 지도연동, category 및 식당 리스트 DB 담당 </td>
              </tr>
              <tr>
                <td>자세히</td>
                <td>
                  <a class="grey darken-4 waves-effect waves-light btn" href="#modal2">Modal</a>

                </td>
              </tr>
              <tr>
                <td>짧은 소감</td>
                <td>
                  내가 기대한 바에 훨씬 못미치는 망해버린 프로젝트였다. 팀원 하나와 의사소통이 되지 않아 고통스러운 기간을 보냈다.<br> 전체적인 기획을 하고, 팀원들을 이끄는 과정에서 나 역시 미흡한
                  점이 많다고 생각한다. <br> 하지만 불성실한 팀원하나가 팀 전체 분위기를 망가뜨리고 얼마나 큰 스트레스를 주는지 깨닫게 되었다.<br> 협업에서 의사소통만큼 중요한 것은 없다.
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>




    </div>

  </div>

</div>


<!--modal content-->
<div id="modal1" class="modal">
  <div class="modal-content">
    <ul id="tabs-swipe-modal" class="tabs">
      <li class="tab col s3"><a href="#modal-content1">Test 1</a></li>
      <li class="tab col s3"><a class="active" href="#modal-content2">Test 2</a></li>
      <li class="tab col s3"><a href="#modal-content3">Test 3</a></li>
    </ul>
    <div id="modal-content1" class="col s12 blue">Test 1</div>
    <div id="modal-content2" class="col s12 red">Test 2</div>
    <div id="modal-content3" class="col s12 green">Test 3</div>


  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
<!---->


<div id="vision" class="block  black-text scrollspy ">
  <div class="row">
    <h3 class="center blue-grey-text text-lighten-1">Vision </h3>
    <br>
  </div>
</div>

<div id="contact" class="block blue-grey darken-4 black-text  scrollspy ">
  <div class="row">
    <h3 class="center white-text ">Contact </h3>
    <br>
  </div>
</div>